<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/resources/css/myCSS.css" th:href="@{/resources/css/myCSS.css}"/>
    <link rel="stylesheet" type="text/css" href="/resources/bootstrap4/css/bootstrap.min.css" th:href="@{/resources/bootstrap4/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/resources/bootstrap-select-1.13.14/dist/css/bootstrap-select.min.css" th:href="@{/resources/bootstrap-select-1.13.14/dist/css/bootstrap-select.min.css}"/>
    <!-- for FF, Chrome, Opera -->
	<link rel="icon" type="image/png" th:href="@{/resources/icons_favicon/favicon-16x16.png}" sizes="16x16">
	<link rel="icon" type="image/png" th:href="@{/resources/icons_favicon/favicon-32x32.png}" sizes="32x32">
	<!-- for IE -->
	<link rel="icon" type="image/x-icon" th:href="@{/resources/icons_favicon/favicon-16x16.ico}" >
	<link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/icons_favicon/favicon-32x32.ico}"/>
</head>

<body>
	<input hidden id ="server" th:value= "${server}">
	<input hidden id ="port" th:value= "${port}">
	
	<!-- MODAL STATUS UPDATE --><!-- MODAL STATUS UPDATE --><!-- MODAL STATUS UPDATE --><!-- MODAL STATUS UPDATE -->
	<div class="modal fade" id="updateStatusModal" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="updateStatusModalLabel">Обновить статус</h5>
	      </div>
	      <div class="modal-body">
			<div class="container mt-3">
			  <div class="row mt-2 align-items-top">
			    <div class="col-3">
			      <div class="card-header p-1"> WMS </div>
			    </div>
			    <div id="wmsUpdateStatusLabel" class="col-7"></div>
			  </div>
			  <div class="row mt-2 align-items-top">
			    <div class="col-3">
			      <div class="card-header p-1"> Номер доработки </div>
			    </div>
			    <div id="reworkNumberUpdateStatusLabel" class="col-7"></div>
			  </div>
			  <div class="row mt-2 align-items-top">
			    <div class="col-3">
			      <div class="card-header p-1"> Проект </div>
			    </div>
				<div id="projectUpdateStatusLabel" class="col-7"></div>
			  </div>
			  <div class="row mt-2 align-items-top">
			    <div class="col-3">
			      <div class="card-header p-1"> Установить статус </div>
			    </div>
				<div id="statusUpdateStatusLabel" class="col-7"></div>
			  </div>
			  <div class="row mt-2 align-items-center">
			    <div class="col-3">
			      <div class="card-header p-1"> Кто обновил </div>
			    </div>
			    <div class="col-5">
			     	<select id="whoUpdatesSelect" class="custom-select" data-style="btn-default">
	    			  <option th:each="value, index : ${allWhoUpdates}" th:value="${value}" th:utext="${value}"/>
	    			</select>
			    </div>
			  </div>
			</div>
	      </div>
	      <div class="modal-footer">
	        <button id = "cancelUpdateStatusModal" type="button" class="btn btn-secondary">Отмена</button>
	        <button id = "updateStatusButton" type="button" class="btn btn-warning ml-2">Обновить статус</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- MODAL STATUS UPDATE --><!-- MODAL STATUS UPDATE --><!-- MODAL STATUS UPDATE --><!-- MODAL STATUS UPDATE -->
	<!-- BUTTON UP TO TOP -->
	<button id="topPageButton" title="Go to top">Вверх</button>
	<!-- LOADING -->
	<div id="loading" style="position: absolute; top: 50%; left: 50%; margin-top: -1.5rem; margin-left: -1.5rem; width: 5rem; height: 5rem;">
		<div class="spinner-border text-primary" role="status" style="width: 5.6rem; height: 5.6rem;">
    		<span class="sr-only">Loading...</span>
  		</div>
  		<div class="text-primary font-weight-bolder" style="position: absolute; top: 40%; left: 8%;">ЗАГРУЗКА</div>
	</div>

  	<!-- LOADING -->
	<div class="container-fluid d-none">
		<div class="container-fluid d-none gradientbackgroundSearchPanel pt-1 mb-3 rounded border">
			<form id="formSearchFilter" th:method="POST" th:action="@{/mainfilter/search}" th:object="${modelFilter}">
				<div class="row justify-content-start mt-3">
				  <div class="col-2">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
						  <label class="input-group-text" for="inputGroupSelect01">WMS</label>
						</div>
						 <select th:field= "*{wms}" class="custom-select">
						 	<option selected value="Все">Все</option>
		       			 	<option th:each="w, index : ${allWms}" th:value="${w.wms}" th:utext="${w.wms}"/>
		       			 </select>
					</div>
				  </div>
				  <div class="col-3">
					<div class="input-group mb-3">
						<input id ="searchInput" th:field= "*{search}" type="text" class="form-control" placeholder="Поиск по ключевому слову" aria-label="Recipient's username" aria-describedby="basic-addon2">
						<div class="input-group-append">
						  <input id ="formSearchButton" class="btn btn-primary" type="submit" value="Найти">
						</div>
					</div>
				  </div>
				  <div class="col-8">
				  </div>
				</div>
			</form>
			<div class="row justify-content-start align-items-center mb-2 ml-2 mt-3">
				<div>
					<form th:method="GET" th:action="@{/newrework}" th:object="${modelFilter}">
						<input hidden th:field= "*{wms}" type="text">
						<input hidden th:field= "*{search}" type="text">
						<button id ="newReworkButton" class="btn btn-primary align-items-center text-white rounded" type="submit">
							<img class="mr-2" th:src="@{/resources/icons_svg/plus-circle-fill.svg}" alt="Bootstrap" width="20" height="20">
							Добавить доработку
						</button>
					</form>	
				</div>
			</div>
		</div>
	<table id ="reworkTable" class="table table-hover table table-bordered tableFixHead">
	    <thead id="headerMainTable">
	        <tr th:object="${modelForTitle}">
	        	<th style="width: 160px;"> WMS </th>
	            <th style="width: 105px;"> НОМЕР </th>
	            <th style="width: 180px;"> ССЫЛКА НА WIKI </th>
	            <th style="width: 440px;"> ОПИСАНИЕ </th>
	            <th data-toggle="tooltip" data-placement="top"   th:attr= "title=*{v2[__${itemStat.index}__].project}" th:each="m, itemStat : *{v2}" class="widthcolumn rotate-text"> 
	            	<div th:text="*{v2[__${itemStat.index}__].project}"></div>
	            </th>
	        </tr>
	     </thead>
     <tbody>
     	 <tr id="wrapRow" class="wraprow" th:object="${modelForTitle}">
	         <td> 
	             <div id="buttonWRAP" iswrraped = "false" title="button" class="unselect">
	             	<img id="collapseWrap" th:src="@{/resources/icons_svg/arrows-collapse.svg}" alt="Bootstrap" width="20" height="20">
	             	<img id="expandWrap" class="d-none" th:src="@{/resources/icons_svg/arrows-expand.svg}" alt="Bootstrap" width="20" height="20">
	             </div>
	         </td>
	         <td></td>
	         <td></td>
	         <td></td>
	         <th:block th:each="row, i : ${modelForTitle.v2}">
	         <td style="vertical-align: middle; padding-left: 1px; padding-right: 1px;">
	             <div th:attr="id = 'filter_header_'+${i.index}">
	             	 <th:block th:each="s, si : ${allStatuses}">
	             	 	<div th:attr="id = 'filter_status_'+${i.index}+''+${si.index}" isSelected = "false" title="button" class="unselect" th:text="${s.status}">X</div>
	             	 </th:block>
	             </div>
	         </td>	
	         </th:block>
         </tr> 
       	<th:block th:each="row : *{modelsForRows}">
       	<tr class="heightrow" permanentHidden= "false">
       	   <td style="vertical-align: middle;" th:text="*{row.v1.getWms()}"></td>
           <td class="text-truncate" style="vertical-align: middle;">
                <div>
					<form th:method="GET" th:action="@{/showrework/{serialkeyrework}(serialkeyrework = 'serialkeyrework_'+${row.v1.getSerialKey()})}" th:object="${modelFilter}">
						<input hidden th:field= "*{wms}" type="text">
						<input hidden th:field= "*{search}" type="text">
						<a class="aLink" submitLinkShowReworkForm th:text="${row.v1.getReworkNumber()}"></a>
					</form>	
				</div>
           </td>
           <td class="text-truncate" style="vertical-align: middle;">
           		<a id="wikilinkEditA" th:href="@{*{row.v1.getWikiLink()}}" th:text="*{row.v1.getWikiLink()}"></a>
           </td>
           <td class="text-truncate" style="vertical-align: middle;" th:text="*{row.v1.getDescription()}"></td>
           <th:block th:each="rowProject : *{row.v2}"> 
           	<td class="cell" style="vertical-align: middle;" data-toggle="tooltip" data-html="true" title="">
           		<div class="statusDIV" th:text="*{rowProject.getStatus()}"></div>
       			 <select class="selectpicker" data-style="btn-default" data-width="fit">
       			 	<option th:each="s, si : ${allStatuses}" th:value="${s.status}" th:utext="${s.status}"/>
       			 </select>
           	 </td>
           </th:block>
        </tr>    
    	</th:block>
    </tbody>
</table>
</div>
</body>
<script type="text/javascript" th:src="@{/resources/bootstrap4/js/jquery-3.5.1.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/bootstrap4/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/bootstrap-select-1.13.14/dist/js/bootstrap-select.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/bootstrap-select-1.13.14/dist/js/i18n/defaults-ru_RU.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/util/main_util.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/main_filter.js}"></script>
</html>
